//
   Created by Ahmed on 7/20/2016.

doctype html
html
   head
      link(rel='stylesheet', href='/stylesheets/front-end-assignment.css')
   body
      div.content
         div.b B
         div.a
            div.margin-area
               div.d D
               div.d D
               div.d D
               div.d D
               div.d D
               div.d D
            div.c
